upstream nodejs {
{% for host in groups['appservers'] %}
    server {{ hostvars[host].ansible_host }}:3000;
{% endfor %}
}

server {
    listen 80;
    
    location / {
    proxy_pass http://nodejs;
    }
}
